@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding:0;
}
body{
	background-color: #0F103F;

}
.banner{
	padding: 40px 50px;
	position: relative;
	height: 100vh;
}
.banner ul{
	display: flex;
	align-items: center;
	list-style-type: none;
	width: 60%;
	justify-content: space-around;
	margin: 0 auto;
	
}
.anhillus{
	position: absolute;
	
}
.banner .anhbannerbentrai{
	width: 25%;
	top: 5%;
	left: 3%;
	

}
.banner .anhbannerbenphai{
	width: 50%;
	bottom: 5%;
	right: 3%;
}
.contentchinh{
	width: 50%;
	top:30%;
	left: 30%;
	
}
.contentchinh h2{
	color:white !important;
	padding-bottom:60px;
}
.nuthireme{
	background: rgba(255, 255, 255, 0.3);
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(23.1513px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
	
	padding:13px 67px;
	color: #FFFFFF;
	
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 143.2%;
}
.downloadcv{
	
background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
box-shadow: 0px 10px 20px rgba(8, 12, 33, 0.15);
border-radius: 30px;
padding:13px 67px;
	font-family: 'Poppins';
font-style: normal;
	color: #FFFFFF;
font-weight: 400;
font-size: 17px;
line-height: 143.2%;
}

.cogaiquanqua{
	position: relative;
	height: 100vh;
	background-image: url(Background.png);
	background-size: contain;
	background-position: bottom;
	background-repeat:no-repeat;
}
.cogai{
	position: absolute;
	width: 50%;
	top: -15%;
    left: 25%;
}
.noidungcogai{
	position: absolute;
	top: 30%;
    left: 47%;
}
.noidungcogai h4,p{
	color:white;
}
.noidungcogai h4{
	padding-bottom:12px;
}
.kimcuong{
	bottom: 0%;
   right: 15%;
}
.demoxoay img{
	width: 30%;
	
}
.demoxoay img:hover{
	transform: scale(2,2);
	transition: transform 2s;
}
h1{
	color:red !important;
	font-size: 40px !important;
}
h1:hover{
	color:blue !important;
	font-size: 80px !important;
	transition: color 2s,font-size 3s;
}