@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
body{
	background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	height: 100vh;
}
.quotenek{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.quotenek hr{
	width: 3%;
}
.quotenek h1::before{
	content: "\201D";
	color:gray;
	font-size: 280px;
	position: absolute;
	right: 100px;
	top:40%;

}